[submodule ".registry"]
	path = .registry
	url = https://github.com/maxjerdee/maxjerdee.r-universe.dev
	branch = HEAD
[submodule "asbm"]
	path = asbm
	url = https://github.com/maxjerdee/asbm
	subdir = bindings/r
